<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Attraction Recommendation</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/heroic-features.css" rel="stylesheet">

    <!-- star rating -->
    <link rel="stylesheet" type="text/css" href="/static/css/star-rating-svg.css">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Attraction Recommendation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Input(Scoring)
                    </a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="#">Output(Recommendation)
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Detail</a>
                </li>
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="#">Contact</a>#}
                {#                </li>#}

            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="padding-bottom: 50px;padding-top: 50px;">
{#        <h3 class="display-4">데모</h3>#}
        <p class="lead" style="margin-bottom: 0px;">Recommendation List</p>
{#        <a href="#" class="btn btn-primary btn-lg">메인으로 바로가기</a>#}
    </header>

    <!-- Page Features -->

    <h3>Content-Based</h3>
    <div class="row text-center">
        {% for data in resultData %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ data.firstimage }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ data.title }}</h4>
                        <p class="card-text">{{ data.addr }} | {{ data.type }}</p>
                    </div>
                    <div class="card-footer">
                        {#                        <a href="#" class="btn btn-primary">Score</a>#}
                        {#                        <div class="rating" data-rate-value=5></div>#}
                        <div class="my-rating-4" data-rating="0.0" data-des_id="{{ data.id }}" data-title="{{ data.title }}"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <h3>Collborative Filtering</h3>
    <div class="row text-center">
        {% for data in resultData %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ data.firstimage }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ data.title }}</h4>
                        <p class="card-text">{{ data.addr }} | {{ data.type }}</p>
                    </div>
                    <div class="card-footer">
                        {#                        <a href="#" class="btn btn-primary">Score</a>#}
                        {#                        <div class="rating" data-rate-value=5></div>#}
                        <div class="my-rating-4" data-rating="0.0" data-des_id="{{ data.id }}" data-title="{{ data.title }}"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


    <h3>Hybrid Filtering</h3>
    <div class="row text-center">
        {% for data in resultData %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ data.firstimage }}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{ data.title }}</h4>
                        <p class="card-text">{{ data.addr }} | {{ data.type }}</p>
                    </div>
                    <div class="card-footer">
                        {#                        <a href="#" class="btn btn-primary">Score</a>#}
                        {#                        <div class="rating" data-rate-value=5></div>#}
                        <div class="my-rating-4" data-rating="0.0" data-des_id="{{ data.id }}" data-title="{{ data.title }}"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- /.row -->

{% for d in resultScore %}
    {{ d }}
{% endfor %}


</div>
<!-- /.container -->

<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-success" id="nav_go_main">
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#" onclick="goMain()">메인으로 이동하기</a>
    </div>
</nav>


<!-- /.container -->
<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Footer 2019</p>
    </div>
</footer>

<form action="/main" method="post" id="form_goMain">
    <input type="hidden" name="des_id" id="form_des_id" value="">
    <input type="hidden" name="score" id="form_score" value="">
    <input type="hidden" name="title" id="form_title" value="">
</form>

<!-- Bootstrap core JavaScript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- star rating -->
<script src="/static/js/jquery.star-rating-svg.js"></script>

{# star #}
<script>

    var checkCnt = 0;
    var des_id = '';
    var score = '';
    var title = '';
    $(document).ready(function () {
        $("#nav_go_main").hide();

        $(".my-rating-4").starRating({
            totalStars: 5,
            starShape: 'rounded',
            starSize: 30,
            emptyColor: 'lightgray',
            hoverColor: 'salmon',
            activeColor: 'salmon',
            useGradient: false,
            disableAfterRate: false,
            callback: function (currentRating, $el) {
                checkCnt += 1;

                des_id += $el.data('des_id') + "|";
                title += $el.data('title') + "|";
                score += currentRating + "|";

            }
        });

    });

</script>
</body>
</html>
